@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
body {
  font-family: 'Gloria Hallelujah', cursive;
  /* background-color: #1decd1; */
  /* background-image: url("https://media.istockphoto.com/photos/colorful-handprints-trail-isolated-on-white-background-picture-id469951878?k=6&m=469951878&s=612x612&w=0&h=fRXq72pgknBL-SNnMu9WShCHIo9AyCVNM2aBZVQ8BnM="); */
  /* background-image: url("https://cdn.dribbble.com/users/3305082/screenshots/6316269/final.gif"); */
  /* background-image: url("https://media3.giphy.com/media/3o6vXU5NMizmHUYZEs/source.gif"); */
  /* background-image: url("https://i.gifer.com/DUld.gif"); */
  
  background-image: url("https://i.gifer.com/9xPg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 1200px 800px;
  z-index: -1;
}

.container {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav .container {
  padding: 0;
}

.box {
  color: rgb(15, 248, 7);
  align-self: flex-end;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%   { filter: hue-rotate(1800deg); }
  100%   { filter: hue-rotate(360deg); }
}

ul {
  list-style-type: none;
  /* max-width: fit-content; */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li label {
  margin: 0.5rem 0.5rem 0 0;
}

h5 {
  line-height: 52px;
}

.home {
  /* box-shadow:20px 20px 50px 15px rgb(138, 21, 21);  */
  border-style: ridge;
  align-items: center;
  padding: 2em;
}

.whatIsYourName form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whatIsYourName form p {
  text-align: center;
}



.card-img-top {
  height: 200px; 
  width: 100%;
  object-fit: cover;
}

h1 {
  color: rgb(15, 248, 7);
  align-self: flex-end;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0%   { filter: hue-rotate(1800deg); }
  100%   { filter: hue-rotate(360deg); }
}

.chooseStoriesTitle {
  justify-content: center;
  align-items: center;
}

.chooseStoriesContent {
  justify-content: center;
  align-items: center;
}

.card-deck > a {
  margin-bottom: 1rem;
}

.hoverOnCards {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.hoverOnCards :hover{
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.4);
}





